<div id="loginpage"></div>
<div data-role="page">
    <!-- SLIDEMENU START -->
    <div data-role="panel" id="panel" data-position="left" data-theme="a" data-display="push">
        {{> guestmenu}}
    </div>
    <!-- SLIDEMENU STOP -->
    <div data-role="header">
        <a data-iconpos="notext" href="#panel" data-role="button" data-icon="flat-menu"></a>
        <h1>FNremote</h1>
    </div>

    <div data-role="content" role="main">
        <div data-role="controlgroup" data-type="horizontal" style="text-align:center;">
            <img class="scale-img" src="css/images/logo.png" alt="FNremote logo">
            {{> messages}}
            <br>
            <br>
            <strong>You don't have any servers defined. Add one now.</strong>
            <div data-role="controlgroup">
                <a id="loginbtn" data-icon="flat-new" class="ui-btn ui-btn-b ui-icon-flat-checkmark ui-btn-icon-left ui-shadow fullwidth">Add your Server</a>
            </div>
        </div>
    </div>
</div>
