<div class="wrapmenu">
	<a href="#overview" class="current-account ui-btn ui-icon-home ui-btn-icon-left"><span>Dashboard</span></a>
	<a href="#profile" class="current-account ui-btn ui-icon-user ui-btn-icon-left"><span>My Quackr</span></a>          

	<h3>Discover</h3>
	<ul class="menu">
		<li><a href="#categories" class="ui-btn ui-icon-bullets ui-btn-icon-left"><span>Browse Categories</span></a></li>
		<li><a href="#random" class="ui-btn ui-icon-search ui-btn-icon-left"><span>Browse Questions</span></a></li>
	</ul>

	<h3>System</h3>   
	<ul class="menu">
		<li><a href="#settings" class="ui-btn ui-icon-gear ui-btn-icon-left"><span>Settings</span></a></li>
		<li><a href="#logout" class="ui-btn ui-icon-minus ui-btn-icon-left"><span>Logout</span></a></li>
		<li><a href="#exit" class="ui-btn ui-icon-delete ui-btn-icon-left"><span>Exit</span></a></li>
	</ul> 
</div>